<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:custom-tags="http://www.zy.com/custom-tags"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.zy.com/custom-tags
        http://www.zy.com/custom-tags.xsd">

    <custom-tags:service id="hello" interfaceName="com.zy.tools.undefined.assembly.IHelloService" ref="helloService"/>

    <bean id="helloService" class="com.zy.tools.undefined.assembly.HelloServiceImpl"/>
</beans>